.game {
    border: 2px solid lightseagreen;
    height: 560px;

    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px #AAAAAA;

}

.game img {
    width: 280px;
    height: 280px;
    margin: 9px 0px 0px 6px;
    border-radius: 10px;

}

.Activity-details {
    margin: 20px;
}

.p-tag {
    font-size: 20px;
    font-weight: bold;
}

.btn {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
    background-color: lightseagreen;
}

.btn:hover {
    color: lightseagreen;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: white;

}