.main {
    background-color: aliceblue;

}

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;


}

.select {
    margin-left: 60px;
    font-size: 30px;
    font-weight: 500;
}

.info {

    box-shadow: 22px 0px 79px 0px gainsboro;
    max-width: 400px;
    background-color: white;
    margin-top: 10px;

}

.game-activities {


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px;
    gap: 30px;

}

@media screen and (max-width: 576px) {
    .home {
        display: inline;
        margin: 30px;




    }

    .game-activities {


        display: grid;
        grid-template-columns: repeat(1, 1fr);

        gap: 30px;

    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .home {
        display: grid;
        margin: 30px;




    }

    .game-activities {


        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 30px;

    }

}