.navBody {
    color: lightseagreen;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.icon {
    color: salmon;
    margin-right: 10px;
}

.nav {
    padding-left: 50px;
    padding-top: 50px;
}